@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 252 97% 98%;
    --foreground: 252 20% 14%;
    
    --card: 0 0% 100%;
    --card-foreground: 252 20% 14%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 252 20% 14%;
 
    --primary: 252 82% 74%;
    --primary-foreground: 252 20% 14%;
 
    --secondary: 252 31% 54%;
    --secondary-foreground: 252 20% 14%;
 
    --muted: 252 20% 96%;
    --muted-foreground: 252 20% 34%;
 
    --accent: 252 82% 92%;
    --accent-foreground: 252 20% 14%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 252 20% 96%;

    --border: 252 31% 90%;
    --input: 252 31% 90%;
    --ring: 252 82% 74%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.slide-up {
  animation: slideUp 0.5s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}